
body {
    color: #14100b;
    background-color: white;
}

.hero {
    background-color: white;
    height: 50vh;
}

.nav-color {
    color: rgb(200, 100, 0) !important;
}


.about-section {
    background-color: rgb(200, 100, 0);
    height: 50vh;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.about-container {
    width: 50%;
}