
body {
    color: #14100b;
    background-color: white;
}

.hero {
    background-color: white;
    height: 100vh;
    padding-top:15em;
}

.hero h1 {
    font-size: 8em;
}

.hero h3 {
    font-size: 3em;
}

.hero h5 {
    font-size: 2em;
}

.nav-color {
    color: rgb(200, 100, 0) !important;
    font-weight: bold;
}


.about-section {
    background-color: rgb(200, 100, 0);
    height: 50vh;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.about-container {
    width: 50%;
    padding-left: 2em;
    padding-top: 2em;
}

.font-white {
    color: white;
}

.font-orange {
    color: rgb(200, 100, 0)
}
